body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background: #272822;
}

#map {
    float: left;
}

#content {
    background: #272822;
    float: left;
}

.menu {
    cursor: pointer; 
    cursor: hand;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
}

li.menu {
    list-style-type: none;
    display: inline;
    text-align: center;
}

pre {
    font-size: 130%;
}

.CodeMirror {
    font-size: 110%;
    line-height: 1.3; 
    /*right: 10px;*/
}

.CodeMirror-linenumbers { 
    padding: 0 8px; 
}

