{
  "env": {
    "mocha": true
  },
  "rules": {
    // Test dependencies are allowed to be in devDependencies
    "import/no-extraneous-dependencies": [2, {
      "devDependencies": true
    }],
    // These are sometimes annoying
    "prefer-template": "warn",
    "arrow-body-style": "warn"
  }
}
