{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["react"],
  "extends": ["airbnb"],
  "rules": {
    // Override airbnb indentation
    "indent": ["error", 4, { SwitchCase: 1, VariableDeclarator: 1, outerIIFEBody: 1 }],
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4],

    // Extend max-len because we have more indentation
    // ignoreUrls and ignoreComments are the same as airbnb rules
    // ignorePattern is added here - we have some very long regexes
    // this may be supported by a `ignoreRegex` pattern in future, but for now
    // we match a regex assignment via `ignorePattern` - see here:
    // https://github.com/eslint/eslint/issues/3229
    "max-len": ["error", 120, 4, {
        "ignoreUrls": true,
        "ignoreComments": false,
        "ignorePattern": "^\\s*(const|let|var)\\s+\\w+\\s+\\=\\s+\\/.*\\/(|i|g|m|ig|im|gm|igm);?$",
    }],
    // --End override airbnb indentation

    // Allow arguments in functions to be unused
    // This allows us to specify that a function will be called with arguments
    // even though we do not need it, e.g. in Promise (resolve, reject),
    // onEvent(event), catch(error), etc.
    "no-unused-vars": ["error", { vars: "local", args: "none" }],

    // Warnings for things that are not easily fixable now
    "react/jsx-filename-extension": "warn",
    "react/prefer-stateless-function": "warn",
    "import/prefer-default-export": "warn",

    // This is disallowed for good reasons, but unfortunately too much of our
    // code relies explicitly on this behavior to set properties on an object
    // referred to by an outer function (most notably CodeMirror state)
    "no-param-reassign": "warn",
  }
}
