{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["react"],
  "extends": ["airbnb"],
  "rules": {
    // Override airbnb indentation
    indent: ['error', 4, { SwitchCase: 1, VariableDeclarator: 1, outerIIFEBody: 1 }],
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4]
    // --End override airbnb indentation
  }
}
