/* APPLICATION */

body {
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}

/* MOBILE MESSAGE */

.mobile-message,
.mobile-message * {
    box-sizing: border-box;
}

.mobile-message {
    display: none;
    position: relative;
    padding: 10px;
    padding-right: 48px;
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    background-color: lightyellow;
    z-index: var(--z10-mobile-message);
}

.mobile-message strong {
    font-weight: normal;
    color: darkred;
}

.mobile-message-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    padding-top: 8px;
    font-size: 20px;
    text-align: center;
    color: darkred;
}
