/* APPLICATION */

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/*
  Elements are fixed in position to prevent layout bugs from accidentally
  scrolling content to weird positions. There is also a theory that this
  improves performance (since it never needs to move and position is never
  recalculated)
*/
html,
body,
.application-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.application-container {
  border-top: 1px solid #c3c7cb;
  border-left: 1px solid #c3c7cb;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #868a8e;
}

html {
  font-family: var(--font-family);
  font-size: var(--root-font-size);

  /* fix Safari font weight being too light sometimes */
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: var(--ui-base-color);
}

/* MOBILE MESSAGE */

.mobile-message,
.mobile-message * {
  box-sizing: border-box;
}

.mobile-message {
  display: none;
  position: relative;
  padding: 10px;
  padding-right: 48px;
  font-size: var(--root-font-size);
  font-family: var(--font-family);
  font-weight: 400;
  background-color: lightyellow;
  z-index: var(--z10-mobile-message);
}

.mobile-message strong {
  font-weight: normal;
  color: darkred;
}

.mobile-message-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  padding-top: 8px;
  font-size: var(--root-font-size);
  text-align: center;
  color: darkred;
  cursor: pointer;
}

/* APP LOADER */
/* via http://projects.lukehaas.me/css-loaders/ */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden; /* Turned on via js */
}

.loader {
  font-size: 4px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: linear-gradient(to right, var(--ui-component-text-color) 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  animation: load3 1.4s infinite linear;
  transform: translateZ(0);
}

.loader::before {
  width: 50%;
  height: 50%;
  background: var(--ui-component-text-color);
  border-radius: 100% 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader::after {
  background: var(--ui-base-color);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes load3 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background-image: url('../data/imgs/win95_scrollbar_bg.png');
  background-size: 2px;

  &:active {
    background-image: url('../data/imgs/win95_scrollbar_bg_active.png');
  }
}

::-webkit-scrollbar-thumb {
  background-color: #c3c7cb;
  border-top: 1px solid #c3c7cb;
  border-left: 1px solid #c3c7cb;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: inset 1px 1px 0 0 white, inset -1px -1px 0 0 #868a8e;
  z-index: 1;
}

::-webkit-scrollbar-corner {
  background-color: #c3c7cb;
}

::-webkit-resizer {
  background-color: #c3c7cb;
  width: 16px;
  height: 16px;
  background-image: url('../data/imgs/win95_drag_corner.png');
  background-size: 16px;
  background-position: bottom right;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-button {
  display: block;
  background-color: #c3c7cb;
  width: 16px;
  height: 16px;
  border-top: 1px solid #c3c7cb;
  border-left: 1px solid #c3c7cb;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: inset 1px 1px 0 0 white, inset -1px -1px 0 0 #868a8e;

  &:horizontal:decrement {
    background-image: url('../data/imgs/win95_arrow_left.png');
    background-size: 11px;
    background-position: 2px 1px;
    background-repeat: no-repeat;

    &:active {
      background-position: 3px 2px;
    }
  }

  &:horizontal:increment {
    background-image: url('../data/imgs/win95_arrow_right.png');
    background-size: 11px;
    background-position: 2px 1px;
    background-repeat: no-repeat;

    &:active {
      background-position: 3px 2px;
    }
  }

  &:vertical:decrement {
    background-image: url('../data/imgs/win95_arrow_up.png');
    background-size: 11px;
    background-position: 1px 2px;
    background-repeat: no-repeat;

    &:active {
      background-position: 2px 3px;
    }
  }

  &:vertical:increment {
    background-image: url('../data/imgs/win95_arrow_down.png');
    background-size: 11px;
    background-position: 1px 2px;
    background-repeat: no-repeat;

    &:active {
      background-position: 2px 3px;
    }
  }

  &:horizontal:increment:start { display: none; }
  &:horizontal:decrement:end { display: none; }
  &:vertical:increment:start { display: none; }
  &:vertical:decrement:end { display: none; }

  &:active {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid #868a8e;
    border-right: 1px solid #868a8e;
    box-shadow: inset 1px 1px 0 0 #868a8e, 1px 1px 0 0 black, 1px 0 0 0 black, 0 1px 0 0 black;
  }
}
