.colorpalette {
    position: absolute;
    z-index: var(--z01-colorpalette);
    right: 18px;
    bottom: 12px;
    user-select: none;
    pointer-events: none;
}

.colorpalette-element {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
    pointer-events: auto;
}
