/* DRAGGABLE LINE */

.tp-divider {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 9px;
    height: 100%;
    vertical-align: top;
    opacity: 1;
    background-color: var(--ui-base-color);
    z-index: 10;
    cursor: col-resize;
    user-select: none;
}

.tp-divider.tp-divider-is-dragging {
    .tp-divider-affordance,
    .tp-divider-affordance::after,
    .tp-divider-affordance::before {
        background-color: var(--ui-highlight-color);
    }
}

.tp-divider-affordance,
.tp-divider-affordance::after,
.tp-divider-affordance::before {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.65);
}

.tp-divider-affordance {
    left: 2px;
}

.tp-divider-affordance::after,
.tp-divider-affordance::before {
    content: '';
}

.tp-divider-affordance::after {
    margin-top: 7px;
}

.tp-divider-affordance::before {
    margin-top: -12px;
}
