/* EDITOR */

:root {
  --editor-tab-height: 26px;
}

.editor-pane {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 500;
}

.editor-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% - var(--divider-width));
  top: 0;
  right: 0;

  /*
    Prevent a case where collapse button and doc panel button can leak
    out of the editor container
  */
  overflow: hidden;
}

.editor-no-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 30px;
  width: 100%;
  height: calc(100% - var(--editor-tab-height));
  background-color: var(--ui-editor-background-color);
  color: var(--ui-component-text-color);
  z-index: 10;
  user-select: none;
}

.editor {
  position: relative;
  /* This should grow to take up all available vertical space */
  flex-grow: 1;
  /* Easier to adjust font size from this element */
  font-size: 12px;
  line-height: 1.4;
  margin-left: 1px;
  margin-bottom: 2px;
  margin-right: 2px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #c3c7cb;
  border-bottom: 1px solid #c3c7cb;
  box-shadow: -1px -1px 0 #868a8e, -1px 0 0 #868a8e, 0 -1px 0 0 #868a8e, 1px 0 0 #fff, 1px 1px 0 #fff, 0 1px 0 #fff;
}

.editor-tab-bar {
  position: relative;
}

.editor-tabs {
  display: flex;
  align-items: baseline;
  /*padding-left: 5px;*/
  /*padding-top: 5px;*/
  padding-right: 36px; /* Space for collapse button */
  user-select: none;

  height: var(--editor-tab-height);
  background-color: var(--ui-base-color);
}

.editor-tab {
  position: relative;
  color: var(--ui-component-text-color);
  font-size: var(--root-font-size);
  cursor: default;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid black;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: var(--ui-base-color);
  box-shadow: inset -1px 0 0 0 #868a8e;
  overflow: hidden;

  /* Tabs shrink when its parent container is narrow. Sizing is adjusted
     to account for absolutely-positioned children throwing off its layout */
  flex-basis: 160px;
  flex-shrink: 1;
  height: 26px;
  min-width: 60px;
}

.editor-tab-is-active {
  background-color: var(--ui-base-color);
}

.editor-tab-close,
.editor-tab-label {
  display: inline-block;
}

.editor-tab-label {
  position: absolute; /* Allows tab to shrink smaller than content box */
  overflow: hidden;
  padding: 4px 8px;
  width: 100%;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}

/* temp: remove while multiple tabs is not turned on
.editor-tab-is-active .editor-tab-label {
  box-shadow: inset 0 2px 0 var(--ui-highlight-color);
}
*/

.editor-tab-is-dirty {
  .editor-tab-dirty {
    opacity: 1;
  }

  .editor-tab-close {
    color: var(--ui-highlight-color);
  }
}

.editor-tab-dirty {
  color: blue;
  font-size: 6px;
}

.editor-tab-dirty,
.editor-tab-close {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  text-align: center;
  line-height: 24px;
}

.editor-tab:not(.editor-tab-is-main):hover .editor-tab-close {
  opacity: 1;
}

.editor-tab:not(.editor-tab-is-main):hover .editor-tab-dirty {
  opacity: 0;
}

.editor-tab-close:hover {
  color: var(--ui-highlight-color);
}

.editor-tab-read-only {
  margin-right: 0.5em;
  /* override normal icon weight */
  font-weight: 600;
  /* position tweak */
  top: -1px;
  position: relative;
  /* temp: use misc color because white is pretty bright */
  color: var(--ui-unnamed-light-color);
}

.editor-save-state-notification {
  color: var(--ui-unnamed-light-color);
  margin-left: 8px;
  align-self: center;
  font-size: 11px;
  margin-top: 2px;
  white-space: nowrap;
  cursor: default;
}

.editor-collapse-button {
  position: absolute;
  top: 5px;
  right: 4px;
  width: 28px;
  height: 28px;
  font-size: 0.75em; /* slightly smaller */
}

.CodeMirror {
  /* Required position property to take up 100% of parent flex-item */
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: var(--editor-font-family);
}

.CodeMirror-linenumbers {
  padding: 0 8px;
}

.CodeMirror-ruler {
  border-left: 1px dotted rgba(227, 227, 227, 0.08);
}

/* Slightly more padding around the text content */
.CodeMirror pre {
  padding: 0 8px;
}

/* With hanging indents on wrapped text, this fixes tab characters from
   disappearing. See https://codemirror.net/demo/indentwrap.html */
.CodeMirror pre > * {
  text-indent: 0;
}

/* Stylized scroll bars, webkit only */
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar {
  /* Sometimes, CodeMirror sets these scrollbars
     to pointer-events: none, making them unselectable.
     See discussion in issue #313 */
  pointer-events: auto !important;

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--ui-element-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #b9b9bd;
  }
}

.CodeMirror-scrollbar-filler {
  background-color: var(--ui-element-color);
  width: 12px;
  height: 12px;
}

.cm-s-tangram.CodeMirror {
  color: black;
  background-color: white;
}

.cm-s-tangram .CodeMirror-selected {
  background: #00a;
  color: white;
}

.cm-s-tangram .CodeMirror-gutters {
  color: var(--ui-unnamed-light-color);
  background-color: white;
  border-right: 1px solid lightgray;
}

.cm-s-tangram .CodeMirror-linenumber {
  /* Relative units allow for proportional gutter sizing when font-size changes */
  margin-left: 1em;
  padding: 0 0.2em 0 0.4em;
  min-width: 1.2em;
  color: var(--ui-unnamed-light-color);
}

.cm-s-tangram .CodeMirror-cursor {
  border-left: 1px solid black;
}

.cm-s-tangram .cm-keyword {
  color: purple;
  font-weight: bold;
}

.cm-s-tangram .cm-builtin {
  color: #80cbc4;
  font-weight: bold;
}

.cm-s-tangram .cm-atom {
  color: red;
  font-weight: bold;
}

.cm-s-tangram .cm-number {
  color: orange;
  font-weight: bold;
}

.cm-s-tangram .cm-def {
  color: #8da6ce;
  font-weight: bold;
}

.cm-s-tangram .cm-variable {
  font-weight: bold;
  color: #80b0ff;
}

.cm-s-tangram .cm-property {
  color: #ff5370;
  font-weight: bold;
}

.cm-s-tangram .cm-qualifier {
  color: #690;
  font-weight: bold;
}

.cm-s-tangram .cm-operator {
  color: #c0c1cc;
}

.cm-s-tangram .cm-comment {
  color: #616161;
  font-weight: normal;
}

.cm-s-tangram .cm-meta {
  color: #999;
  font-weight: bold;
}

.cm-s-tangram .cm-string {
  color: green;
  font-weight: bold;
}

.cm-s-tangram .cm-string-2 {
  color: #ffcb6b;
  font-weight: bold;
}

.cm-s-tangram .cm-tab {
  background-color: #e05252; /* color copied from an Atom theme */
}

.cm-s-tangram .cm-tag {
  color: #997643;
  font-weight: bold;
}

.cm-s-tangram .cm-attribute {
  color: #d6bb6d;
  font-weight: bold;
}

.cm-s-tangram .cm-header {
  color: #ff6400;
  font-weight: bold;
}

.cm-s-tangram .cm-hr {
  color: #aeaeae;
  font-weight: bold;
}

.cm-s-tangram .cm-link {
  color: #ad9361;
  font-style: italic;
  text-decoration: none;
  font-weight: bold;
}

.cm-s-tangram .cm-variable-2,
.cm-s-tangram .cm-tag {
  color: #690;
  font-weight: bold;
}

.cm-s-tangram .cm-variable-3,
.cm-s-tangram .cm-def {
  color: #c792ea;
  font-weight: bold;
}

.cm-s-tangram .cm-error {
  border-bottom: 1px solid red;
}

/* Adds a red squiggly line to trailing spaces.
   See: https://codemirror.net/demo/trailingspace.html */
.cm-trailingspace {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==');
  background-position: bottom left;
  background-repeat: repeat-x;
}

.cm-s-tangram .CodeMirror-activeline-background {
  background: #f0f0f0;
}

.CodeMirror-activeline-gutter.CodeMirror-gutter-background {
  background: #f0f0f0;
}

.CodeMirror-activeline-gutter .CodeMirror-linenumber {
  font-weight: bold;
}

.cm-s-tangram .CodeMirror-matchingbracket {
  outline: 1px dotted black;
  color: #fcd812;
  font-weight: bold;
}

.CodeMirror-foldmarker {
  font-family: var(--editor-font-family);
  color: blue;
  font-weight: bold;
  margin-left: 0.5em;
  text-shadow: none;
  font-size: var(--root-font-size);
}

.CodeMirror-foldgutter {
  width: 0.9em;
}

.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  color: #777;
}

.CodeMirror-foldgutter-open::after {
  content: '\25BE';
}

.CodeMirror-foldgutter-folded::after {
  content: '\25B8';
}

/* Highlighting lines, e.g. after map introspection */
.editor-highlight {
  &.CodeMirror-linebackground:not(.CodeMirror-activeline-background) {
    /* A background color with alpha=1 overlaps the selection highlight
       This makes the selection visible through the highlighted line */
    background-color: rgba(255, 255, 255, 0.05); /* var(--ui-active-color); */
    font-weight: bold;
  }
  /*
  &.CodeMirror-linebackground.CodeMirror-activeline-background {
  }
  */

  &.CodeMirror-gutter-background:not(.CodeMirror-activeline-gutter) {
    background-color: gray;
    font-weight: bold;
  }

  .CodeMirror-linenumber {
    color: white;
  }

  &.CodeMirror-activeline-gutter .CodeMirror-linenumber {
    color: var(--ui-unnamed-light-color);
  }
}

/* Line numbers are clickable for highlighting */
.CodeMirror-linenumber {
  cursor: pointer;
}

/* CodeMirror search dialog */
.CodeMirror-dialog {
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: var(--font-family);
  font-size: var(--root-font-size);
  border-bottom: 1px solid var(--ui-element-color);
}

/* Styles external links - imports, for example. */
.cm-tangram-link {
  border-bottom: 1px solid blue;
  color: blue;
  cursor: pointer;
}

.CodeMirror-selectedtext {
  color: white;
}
