/* Overrides the indentation alignment (a hack for cm's on `renderLine` event) */
.CodeMirror-linewidget {
  left: 0 !important;
  padding-left: 0 !important;
}

.error,
.warning {
  position: relative;
  font-family: var(--editor-font-family);
  padding-left: 3em; /* Theoretically, aligns error text to the first tab stop */
  padding-right: 10px;
}

.error-icon,
.warning-icon {
  position: absolute;
  left: 0;
  top: 3px;
  width: 3em; /* Centers the icon within the first tab stop */
  text-align: center;
}

.error {
  background: var(--ui-error-color);
  color: white;
}

.warning {
  background: var(--ui-warning-color);
  color: black;
}

/* Experiment. */
.errors-panel {
  padding: 0; /* Overrides .modal */
  text-align: left;
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 400px;
  max-height: 400px; /* Prevent it from getting out of hand if something generated tons of errors */
  pointer-events: auto;

  .btm {
    position: absolute;
    width: 18px;
    top: 1px;
    text-align: center;
    font-weight: 600;
  }

  .bt-exclamation-triangle {
    background-image: url('../data/imgs/win95_error.png');
    width: 43px;
    height: 32px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center top;
  }

  .bt-exclamation-circle {
    background-image: url('../data/imgs/win95_alert_dialog.png');
    width: 43px;
    height: 32px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center top;
  }
}

.errors-panel-content {
  position: relative;
  width: 100%;
  height: calc(100% - 20px);
  overflow: auto;
  padding: 11px 13px;
  user-select: auto;

  a {
    white-space: nowrap;
    color: blue;
    text-decoration: underline;
  }
}

.errors-panel-item {
  position: relative;
  min-height: 32px;

  &:not(:first-of-type) {
    margin-top: 0.85em;
  }

  .btm::before {
    display: none;
  }
}

.errors-panel-text {
  margin-left: 57px;
}
