
.tp-error {
	font-family: var(--font-family);
    font-weight: 200;
    font-size: 12px;
	background: #ff5370;
	color: white;
	padding: 2px 5px 3px; 
}

.tp-error-icon {
	color: white;
	background-color: #ff5370;
	font-weight: bold;
	border-radius: 50%;
	padding: 0 3px;
	margin-right: 7px;
}

.tp-warning {
	font-family: var(--font-family);
    font-weight: 200;
    font-size: 12px;
	background: #FFCC00;
	color: black;
	padding: 2px 5px 3px; 
}

.tp-warning-icon {
	color: white;
	background-color: #ff5370;
	font-weight: bold;
	border-radius: 50%;
	padding: 0 3px;
	margin-right: 7px;
}