/* Draggable floating modal for pickers and other display panels */

.floating-panel-topbar {
  display: flex;
  background-color: #00a;
  height: 18px;
  justify-content: flex-end;
  user-select: none;
  color: white;
  margin-left: 2px;
  margin-top: 2px;
  width: calc(100% - 4px);
  cursor: default;
}

.floating-panel-drag {
  display: flex;
  flex-grow: 1;
  padding-left: 3px;
  text-align: left;
  align-items: center;
  font-weight: bold;
}

.floating-panel-close,
.win95-window-minimize,
.win95-window-maximize {
  -webkit-app-region: no-drag;
  width: 16px;
  min-width: auto !important;
  height: 14px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: inset -1px -1px 0 0 #868a8e;
  margin-top: 2px;
  margin-right: 2px !important;
  /*flex-basis: 20px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;*/
  color: var(--ui-component-text-color);
  background-image: url('../data/imgs/button_close.png');
  background-repeat: no-repeat;
  background-position: 2px 1px;
  padding: 0;
  background-size: 9px;
  cursor: default;

  /* Override button style */
  background-color: var(--ui-base-color);

  &:focus {
    outline: none;
  }

  &:active {
    background-position: 3px 3px;
    margin-top: 1px;
  }
}

.win95-window-maximize {
  background-image: url('../data/imgs/button_maximize.png');
}

.win95-window-minimize {
  background-image: url('../data/imgs/button_minimize.png');
  margin-right: 0 !important;
}
