/* Draggable floating modal for pickers and other display panels */

.floating-panel-topbar {
  display: flex;
  background-color: #00a;
  height: 18px;
  justify-content: flex-end;
  user-select: none;
  color: white;
  margin-left: 2px;
  margin-top: 2px;
  width: calc(100% - 4px);
  cursor: default;
}

.floating-panel-drag {
  display: flex;
  flex-grow: 1;
  padding-left: 3px;
  text-align: left;
  align-items: center;
  font-weight: bold;
}

.floating-panel-close {
  width: 14px;
  min-width: auto !important;
  height: 12px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: inset -1px -1px 0 0 #868a8e;
  margin-top: 2px;
  margin-right: 3px;
  flex-basis: 20px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  color: var(--ui-component-text-color);

  /* Override button style */
  padding: 0;
  background-color: var(--ui-base-color);
}
