/* GEOLOCATOR */

.tp-geolocator {
    flex: none;
}

/* borrowing from map-nav button */
.tp-geolocator-button {
    i.bt-spin {
        display: none;
    }
}

.tp-geolocator-button.tp-geolocator-active {
    background-color: var(--ui-active-color);
    color: var(--ui-highlight-color);

    i.bt-map-arrow {
        display: none;
    }
    i.bt-spin {
        display: inline-block;
    }
}
