/* GEOLOCATOR */

/*
.geolocator {
    flex: none;
}

.geolocator-button {
    i.bt-spin {
        display: none;
    }
}

.geolocator-button.active {
    i.bt-map-arrow {
        display: none;
    }
    i.bt-spin {
        display: inline-block;
    }
}

*/
