/* GEOLOCATOR */

.tp-geolocator {
    position: absolute;
    right: 6px;
    top: 6px;
}

/* borrowing from map-nav button */
.tp-geolocator-button {
    position: relative;
    background-color: #3f3f3f;
    width: 38px;
    height: 38px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
}

.tp-geolocator-button:hover {
    background-color: #444;
}

.tp-geolocator-button.tp-geolocator-active {
    background-color: #444;
    color: #ddd;
}

.tp-geolocator-icon {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2215.991%22%20viewBox%3D%220%200%2016%2015.991%22%3E%3Cpath%20fill%3D%22%23e1e1e1%22%20d%3D%22M5.962%2010.098l2.68%205.397%206.857-15-15%207.197%205.462%202.406zm.16-.583L1.934%207.672l11.498-5.52L6.12%209.514z%22%2F%3E%3C%2Fsvg%3E);
}

.tp-geolocator-button:hover .tp-geolocator-icon {
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2215.991%22%20viewBox%3D%220%200%2016%2015.991%22%3E%3Cpath%20fill%3D%22%23ffff00%22%20d%3D%22M5.962%2010.098l2.682%205.397%206.856-15L.5%207.69%205.962%2010.1zm.162-.584l-4.19-1.842L13.437%202.15%206.124%209.514z%22%2F%3E%3C%2Fsvg%3E);
}

.tp-geolocator-icon.tp-geolocator-active,
.tp-geolocator-icon.tp-geolocator-active:hover {
  background-image: url(data:image/gif;base64,R0lGODlhQABAAMQRAMLDxPf3+Ojo6eDh4aSlp42PkNHS0/Dw8LO0tcnKy5SWmJyen9nZ2qutrru8vYWHif///////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgARACwAAAAAQABAAAAF/yAkjmRpnmiqrmzrvnAsz3Rt33iu7/xpLI8C4tDjIR5IZEFQzA2SUEXzdUgADAFSAwplTlcG6HJE4CYHX9XBLBVtzQ90GgWAM0RhtmlLmJfNAGRmdyVJc3WDIwEOBUgLciVAC3NrXAVZczR5Sl6ZNAcAAAmYniwMoZClMkdJCKoym0mdTQEJCTOIUIFfiLcxuUm7U6zCL09cs0UBCAikMKxIxa/GocnT19jZ2tvcBgQNqdwoDlCErwPWJwFcbapv0ifHUNNJfSyN9dPELZtj0+hUbDkTR7CgwYMIE9oAhUUhiQH4FgwsQk5BOhZvkBhIIyBJOxh/NKaR9/FFv4k9gE082DiDAQEEF3sIIOKwpk2CAhQ8IICSBQAC8JqofODqV7BMUOyBzDcHmq8SFdPlCtqjFgGWJfqhSEDgqTZgNxl4vAnB5RCyaNOqXfsqBAAh+QQFCgARACwFAAYANAA1AAAF/yAkjmRpnmiqrqUgoEFCNAZrq4PyPMpLHrrdYxG4GUeHgvBRKI4Iyx3geAREHwnSlUc1WqPT0fbRvSWutZEyuigNBmVTYLFskxzoEWBdCLMCCAQEDCWABQoITiQIS354UQg2dEKERwIGDAdIYz4pA1EEcSRnW34on0uhoiJfV6YnB5CrIgZjWSu1O0SzEAFrSwWaLAdvvCMMvztpxl0HgQQInczT1NXWogINDwTS1yxBXN4nAQ0Ky1HiJ6iqEL8F6SaxD5G0a8vwSHAkAQOK+P8AAwocSLAgQQAzuhHMFQ4gOQL6ILQiE5AUO4YKBKJyQAJhA4XwBEQ0SLKkyZMAGUoASOCvIEN6zATouGUDihBqjHYYedTQ2KN3NwJA6UEN0EeU1kSqENDSW052JWzeuyZgiUJUPa/J26Gwqi58j2CWwFMApLUAwqqFAAAh+QQFCgARACwFAAcANQA0AAAF/yAkjmRpisDzKMLpvnAsGqpaBHKun0StDiYGIIHbwRINoqnnA44Ci1qhZTw5agQTTVpE+VbV0/cEKKyoI2YzXBob1TUnW3RVOaqIb2FeMgAMYVA+gHyFTwkAAAeGjDACiYSNfHk1C10kAg0EAJIuWz5ZSzUJnaJfD5cioKVtpw9yaaOsJHA1qRCZBHezI59YvDuUKpbAO49/xcnKy2wBBghJt8wjAlFSVH6L0xDWPjd1U9MDrg8JPpzMKa7qKujL5utbCtK8AuSAB7DMDacL2yYB+GGht+2AgQRo/ilcyLBhiQCI9DVUo63YAQUFGLw4p0xdqBMK4igb98CdiVwmLTkmdMiyJTOJDS8+CBfmEUw27FLqMPOgYiF4Jdnw9MknQA9iADVpPMGgwdJllPa4jOoSQkACT6t2CgEAIfkEBQoAEQAsBQAHADUAMwAABf8gJI5kORrJYYpAUThrLM8j8TyFWhr3bdBAoKD3AJgARGNwuToQE6bEk0ktOW6LgClgexC01TDkMJgJBLHAAMw8AAA68erqaxduBbb8RHyggwNEZXskDX1KQIE9f4QidD1QS3QwjSOKeHGVcgwLDw2MmqGio6SlpksBBgAMp1QCdzdfIlw4rK0lCociUjcKtySXPQQsPQW/ln1eIgewlMcQsD0II2qgxzw9Wc8zbg0Jetvh4uPk5UABCHcKkSMC4LcBnUkj8rbHvH0ql8PPXX1l+7b5E+TogQJrrfARySQuXh9n5dDhQWSuIrUBBgZZNBDtYEVsRHIsccOuUq5k04JLnCy5Z0gyZUF6NNAUjIivIAhwaGz00lObd3seEYw48MEPmghJCGAowgACAg6YykHywF4JBjestjJUJAZViq0EECAgFcIrjxbTngoBACH5BAUKABEALAUABgA0ADUAAAX/ICSOZGmOzqMMZ+u+sGg8dBHfeAvQdO6XDMXCcBrwFCfBQgH4nQIF3uHEICCmpiiN6CQJeA+Wz8hrdkmLWsCpDZ9JgQQA+xM0CIy3fs/v+/8lBwB5gE8IDwuEgVpmhSSHNXQjZA8EjiUEYGJePAiXJA1gAlRWa58iAloOp2OSrK+wsbKztLVPCQQOWAIAXLRpkVBbtJQ0CF80jbE7YJahBa6vyDyrEKa1kIjXtiIDvdvc4eLj5HsHCAQNm9ypYL4kAAXVp6FgNiY8645gPKOYDwXAFWrDQ2CAAQILpWgmLkAmGgui1RIwQB+rOASsSJQVAFgNf3oouqCIsAQzMEj0Tcx4kMCEQzDKHvID2YWZJzgey4yQqUnPgTs0ISTgp0ZEPX4J+fDsCaEYjXmFluYbYaANVIVEabiquNHPgayWuK3ksSBprAMO0iUwiyMEACH5BAUKABEALAUABgA0ADUAAAX/ICSOZEkOhzkeg6C+cCwGy/MYKmM/jOz7gx1B1RD+ji/BrqFC7BDIaMlRWLhMB8VDcZV6v+DwsRUNEB4OsYlmgx4Tu64aYtg95LG6LTUXweNIDgQ4fTMFNguFYgEGPYqPkJGSk5SVhQwAeJZmDwWEEAc2CpYlf50jSqekIwB2JAwNmpVBiKsyAwAAAba8vb6/wMHCjwEJCXwimMirAYedfKmJvKYPACK00ratO9YiALG9qTYDwxADDQ2O5evsXgFObcu9zXadu324APIv8PVuag52FJBVwlm9B3NC2WEi4+COObSMyDBop0DCegxj9LPz70CCXAQhyApoY6APNnYWTdwTQPETK2cO7o0wkGvfiwAAtChAcI9ePXKs6qWRpOPgUBFa6k3aVm/ICIchxUS0cxRCjYqUktpZVpQbJQFaPZlgUENBt0qYDMhsBykEACH5BAUKABEALAUABgA1ADQAAAX/ICSOZGmeaKqubKA8DSvPavLcA63vxv0cKIFgpxIsFsOTAcBAIW4IIgpwA0h9D6nyZpAWbgXtSag1KBRdsXrNbrvf8DhJAADKS4IvIYAKfBV3JQQ+CUE+gSSDVSkABE2IIj0PBXaQMgIDlZabnJ2ecgMADQBJnyUOWA8OpiQ2qQ+PnQwJQC+vC56okwKvh51YVL1Zvz4AC70xnZIKBwy9OZ4H0BAGX2BprCMBDEx82d/gbAwNBAjT309Y2KwDvZpx1Q97JsGphYHWD/ckDb1WgcBMuEoVS84xHCb8pMKFKEACAOfm2JLnLdyAAaXC9UFAgMA/cAp9RNkxrkFBLQN9S2Rk0c5HRCKKAuIZUJFEvQcftaRTRyLAwQfrRNzMKaWljwI1dfl4F5ISm3gPFKyMibBEAAMGaqoJcPEE1QcvPznzwTAcg44ItBIJAQAh+QQFCgARACwAAAAAQABAAAAFTmAkjmRpnmiqrmzrvnAsz3Rt33iu73zv/8CgcEgsGo/IpHLJbDqf0Kh0Sq1ar9isdsvter/gsHhMLpvP6LR6zW673/C4fE6v2+/4vD4SAgA7);
}
