/* Inputs */

.map-toolbar {
  ::-webkit-input-placeholder {
    color: #909195;
  }

  :-moz-placeholder {
    color: #909195;
  }

  ::-moz-placeholder {
    color: #909195;
  }

  :-ms-input-placeholder {
    color: #909195;
  }

  /* Much dislike Black Tie's pick of font smoothing */
  .btm {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }

  button {
    appearance: none;
    box-sizing: border-box;
    border: 0;
    padding: 0;
    height: 38px;
    width: 38px;
    font-size: 12px;
    background-color: var(--ui-element-color);
    color: var(--ui-component-text-color);
    cursor: pointer;
    outline: none;
  }

  button.active {
    background-color: var(--ui-active-color);
    color: var(--ui-highlight-color);
  }

  button:hover {
    background-color: var(--ui-active-color);
    color: var(--ui-highlight-color);
  }
}

.input-bar {
  display: flex;
  flex-direction: row;
}

input[type=text],
input[type=url] {
  appearance: none;
  border-top: 1px solid #868a8e;
  border-left: 1px solid #868a8e;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-shadow: inset 1px 1px 0 #000, inset -1px -1px 0 #c3c7cb;
  color: var(--ui-component-text-color);
  font-size: var(--root-font-size);
  font-family: var(--font-family);
  line-height: 24px;
  padding: 0 8px;
  width: 100%;
  box-sizing: border-box;
}

input {
  outline: none;
}

input::selection {
  background-color: #00a;
  color: white;
}

label + input {
  margin-top: 6px;
}

label {
  font-size: var(--root-font-size);
  color: black;
}
