/* MAP NAVIGATION BAR */

.tp-map-toolbar {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    padding: 6px;
    padding-right: 4px;
    width: 100%;
    height: 50px;
    top: -50px; /* starting condition */
    left: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    font-family: var(--font-family);
    font-weight: 200;
    color: var(--ui-component-text-color);
    background-color: var(--ui-component-color);
    transition: 120ms top ease-out;
    user-select: none;
    z-index: 401; /* Leaflet map at 400 */

    & > div:not(:last-child) {
        margin-right: 4px;
    }

    ::-webkit-input-placeholder { color: #909195 }
    :-moz-placeholder { color: #909195 }
    ::-moz-placeholder { color: #909195 }
    :-ms-input-placeholder { color: #909195 }

    /* Much dislike Black Tie's pick of font smoothing */
    .btm {
        -webkit-font-smoothing: auto;
    }

    button {
        appearance: none;
        box-sizing: border-box;
        border: 0;
        padding: 0;
        height: 38px;
        width: 38px;
        font-size: 12px;
        background-color: var(--ui-element-color);
        color: var(--ui-component-text-color);
        cursor: pointer;
        outline: none;
    }

    button:hover {
        background-color: var(--ui-active-color);
        color: var(--ui-highlight-color);
    }
}

.tp-map-zoom {
    /* Remove spacing between buttons */
    font-size: 0;
    flex: none;
    cursor: default;
    white-space: nowrap;

    .tp-map-zoom-out {
        border-left: 1px solid var(--ui-component-color);
    }
}

.tp-map-zoom-indicator {
    display: inline-block;
    width: 38px;
    text-align: center;
    font-size: 12px;
    margin-right: 4px;
}

.tp-map-search {
    position: relative;
    display: flex;
    flex-grow: 1;
    background-color: var(--ui-element-color);
}

.tp-map-search-icon,
.tp-map-save-icon {
    display: inline-block;
    line-height: 38px;
    height: 38px;
    width: 34px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;

    &:hover {
        color: var(--ui-highlight-color);
    }
}

.tp-map-save-icon-active {
    color: var(--ui-highlight-color);
    > i {
        font-weight: 700; /* Switches state to solid icon */
    }
}

.tp-map-search-input {
    background-color: transparent;
    appearance: none;
    border: 0;
    border-bottom: 1px solid transparent;
    outline: none;
    color: var(--ui-component-text-color);
    font-size: 12px;
    font-family: var(--font-family);
    font-weight: 200;
    line-height: 28px;
    flex-grow: 1;
    margin: 4px 8px 4px auto;

    &:focus {
        border-bottom: 1px dotted var(--ui-border-color);
    }

    &[placeholder] { text-overflow: ellipsis; color: var(--ui-border-color); }
    ::-moz-placeholder { text-overflow: ellipsis; color: var(--ui-border-color); } /* firefox 19+ */
    &:-moz-placeholder { text-overflow: ellipsis; color: var(--ui-border-color); }
}

.tp-map-latlng-label {
    margin: 5px auto;
    font-size: 12px;
    font-family: var(--font-family);
    font-weight: 200;
    line-height: 28px;
    white-space: nowrap;
    color: var(--ui-border-color);
    user-select: auto;
}

.tp-map-toolbar-toggle {
    width: 18px;
    text-align: center;
    font-size: 8px;
    cursor: pointer;

    &:hover {
        background-color: var(--ui-active-color);
    }

    &::after {
        /* The up arrow is not a perfect mirror of the down arrow */
        display: block;
        transform: rotateX(180deg);
        content: "\25BE";
        font-size: 14px;
        color: #777; /* match CM folding arrows */
    }
}

.tp-map-search-results,
.tp-map-bookmarks-menu {
    display: block;
    flex: none;
    position: absolute;
    font-size: 12px;
    background-color: var(--ui-component-color);

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        padding: 10px;
        border-top: 1px solid var(--ui-active-color);
        cursor: pointer;
        line-height: 1.4;
    }

    li:first-child {
        border-top: 1px solid var(--ui-component-color);
    }

    li:hover,
    li.tp-map-search-active {
        background-color: var(--ui-active-color);
    }

    li > i {
        display: inline-block;
        width: 15px;
        margin-right: 8px;
        text-align: center;
        font-size: 10px;
    }

    strong {
        font-weight: inherit;
        color: var(--ui-highlight-color);
    }
}

.tp-map-search-results {
    left: 0;
    top: 38px;
    width: 100%;
}

.tp-map-bookmarks-menu {
    right: 0;
    min-width: 200px;
}

.tp-map-bookmarks-message {
    padding: 10px;
}

.tp-map-bookmark-meta {
    color: var(--ui-border-color);
    margin-left: 27px;
}
