/* React MapPanel */

.map-panel {
  position: relative;
  z-index: var(--z04-map-toolbar);
  font-size: var(--root-font-size);
}

/* Style for map panel button to show it */
.map-panel-button-show {
  position: absolute;
  top: 6px;
  right: 4px;
}

/* Style for map panel */
.map-panel .panel {
  z-index: var(--z07-menu);
}

.map-panel-collapsible {
  color: var(--ui-component-text-color);
  background-color: var(--ui-component-color);

  .map-panel-toolbar {
    display: flex;
    align-items: center;
  }
}

/* Style for all map panel buttons */
.map-panel button {
  height: 20px;
  width: 21px;
}

.map-panel .btn-group {
  margin-left: 3px;
}

/* Style for button groups */
.map-panel-zoom-container {
  display: flex;
}

.map-panel-zoom {
  width: 36px;
  text-align: center;
  line-height: 19px;
  flex: 0 0 auto;
  border-top: 1px solid #868a8e;
  border-left: 1px solid #868a8e;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  margin-right: 2px;
  margin-left: 1px;
}

.map-panel-zoomin {
  margin-right: 1px;
}

.buttons-plusminus {
  display: flex;
  flex: 0 0 auto;
  margin-right: 2px;
  margin-left: 0;

  .btm {
    font-size: 0.8em; /* slightly smaller */
  }
}

.buttons-locate {
  flex: 0 0 auto;
  margin-top: -1px;
}

.buttons-toggle {
  flex: 0 0 auto;
  margin-top: -1px;
}
