/* MAP VIEWPORT */

/* Container for map and map-related UI */
.map-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%; /* Starting position; this is overridden by scripts */
  /*overflow: hidden;*/
}

.map-win95-container {
  position: absolute;
  top: 26px;
  left: 1px;
  bottom: 2px;
  width: 100%;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #c3c7cb;
  border-bottom: 1px solid #c3c7cb;
  box-shadow: -1px -1px 0 #868a8e, -1px 0 0 #868a8e, 0 -1px 0 0 #868a8e, 1px 0 0 #fff, 1px 1px 0 #fff, 0 1px 0 #fff;
/*
  border-top: 1px solid #868a8e;
  border-left: 1px solid #868a8e;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-shadow: inset 1px 1px 0 #000, inset -1px -1px 0 #e4e6e7;*/
}

/* Container for Leaflet/Tangram */
.map-view,
.map-view-not-loaded {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-view-not-loaded {
  background-image: url('../data/imgs/question.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  z-index: var(--z05-map-not-loaded);
}
