/* MAP NAVIGATION BAR */
/*
.map-toolbar {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    padding: 6px;
    padding-right: 4px;
    height: 50px;
    left: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    font-family: var(--font-family);
    font-weight: 200;
    color: var(--ui-component-text-color);
    background-color: var(--ui-component-color);
    transition: 90ms top ease-in-out;
    user-select: none;
    z-index: var(--z04-map-toolbar);

    & > div:not(:last-child) {
        margin-right: 4px;
    }
}

.map-toolbar-collapsed {
    width: 54px;
    height: 34px;
    top: 0;
    left: auto;
    right: 0;
    cursor: pointer;
    font-size: 12px;

    &:hover {
        color: var(--ui-highlight-color);
        background-color: var(--ui-active-color);
    }
}

.map-toolbar-button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-toolbar-bar {
    width: 100%;
    top: -50px;
}

.map-zoom {
    font-size: 0;
    flex: none;
    cursor: default;
    white-space: nowrap;

    .map-zoom-out {
        border-left: 1px solid var(--ui-component-color);
    }
}

.map-zoom-indicator {
    display: inline-block;
    width: 38px;
    text-align: center;
    font-size: 12px;
    margin-right: 4px;
}

.map-location-bar {
    position: relative;
    display: flex;
    flex-grow: 1;
    background-color: var(--ui-element-color);
}

.map-search-icon,
.map-save-icon {
    display: inline-block;
    line-height: 38px;
    height: 38px;
    width: 34px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;

    &:hover {
        color: var(--ui-highlight-color);
    }
}

.map-save-icon.active {
    background-color: transparent;

    > i {
        font-weight: 700;
    }
}

.map-search-input {
    background-color: transparent;
    appearance: none;
    border: 0;
    border-bottom: 1px solid transparent;
    outline: none;
    color: var(--ui-component-text-color);
    font-size: 12px;
    font-family: var(--font-family);
    font-weight: 200;
    line-height: 28px;
    flex-grow: 1;
    margin: 4px 8px 4px auto;

    &:focus {
        border-bottom: 1px dotted var(--ui-border-color);
    }

    &[placeholder] { text-overflow: ellipsis; color: var(--ui-border-color); }
    ::-moz-placeholder { text-overflow: ellipsis; color: var(--ui-border-color); }
    &:-moz-placeholder { text-overflow: ellipsis; color: var(--ui-border-color); }
}

.map-latlng-label {
    margin: 5px auto;
    font-size: 12px;
    font-family: var(--font-family);
    font-weight: 200;
    line-height: 28px;
    white-space: nowrap;
    color: var(--ui-border-color);
    user-select: auto;
}

.map-toolbar-toggle {
    width: 18px;
    text-align: center;
    font-size: 8px;
    cursor: pointer;

    &:hover {
        background-color: var(--ui-active-color);
    }

    &::after {
        display: block;
        content: "\25BE";
        font-size: 14px;
        color: #777;
    }
}

.map-toolbar-bar .map-toolbar-toggle {
    &::after {
        transform: rotateX(180deg);
    }
}

.map-search-results,
.map-bookmarks-menu {
    display: block;
    flex: none;
    position: absolute;
    font-size: 12px;
    background-color: var(--ui-component-color);

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        padding: 10px;
        border-top: 1px solid var(--ui-active-color);
        cursor: pointer;
        line-height: 1.4;
    }

    li:first-child {
        border-top: 1px solid var(--ui-component-color);
    }

    li:hover,
    li.map-search-active {
        background-color: var(--ui-active-color);
    }

    li > i {
        display: inline-block;
        width: 15px;
        margin-right: 8px;
        text-align: center;
        font-size: 10px;
    }

    strong {
        font-weight: inherit;
        color: var(--ui-highlight-color);
    }
}

.map-search-results {
    left: 0;
    top: 38px;
    width: 100%;
}

.map-bookmarks {
    border-left: 1px solid var(--ui-component-color);
}

.map-bookmarks-menu {
    right: 0;
    min-width: 200px;
}
*/
