/* MAP SELECTION EVENTS */

.map-selection-preview {
    background-color: rgba(0, 0, 0, 0.85);
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 0.75rem; /* TODO: create & associate with global font scale */
    color: var(--ui-component-text-color);
    z-index: var(--z04-map-selection);
    min-width: 85px;
    line-height: 1; /* Overrides leaflet */

    /* Pointer tip */
    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid rgba(0, 0, 0, 0.85);
        left: 50%;
        margin-left: -12px;
        top: 100%;
    }
}

.map-selection-popup .map-selection-preview::after {
    display: none;
}

.map-selection-header {
    padding: 6px;
    padding-right: 24px; /* Extra padding looks nicer, plus we put a close button there */
    white-space: nowrap;
}

.map-selection-kind-label {
    font-weight: 400;
    font-size: 1.25em;
    margin-bottom: 0.25em;
}

.map-selection-name-label {
}

.map-selection-name-label-blank {
    color: #999;
}

.map-selection-label {
    padding: 0.5em 6px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 0.75em;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--ui-subtext-color);
    background-color: var(--ui-base-color);
    user-select: none;
    cursor: default;
}

.map-selection-properties {
    box-sizing: border-box;
    line-height: 1.4;
    margin-top: 0.25em;
}

.map-selection-properties-table-wrapper {
    min-width: 200px;
    max-height: 88px; /* should be exactly four rows */
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--ui-component-color);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #b9b9bd;
    }
}

.map-selection-properties-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        vertical-align: top;
        cursor: pointer;
    }

    tr:hover {
        background-color: var(--ui-active-color);
    }

    td {
        padding: 3px;
    }

    td:first-child {
        padding-left: 6px;
    }

    /* Make sure there is enough room on the right for scrollbar too */
    td:last-child {
        padding-right: 12px;
    }
}

.map-selection-close {
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    right: 6px;
    top: 4px;
    color: var(--ui-component-text-color);
    text-align: right;
    cursor: pointer;
    user-select: none;

    &:hover {
        color: var(--ui-highlight-color);
    }
}

.map-selection-layers-container {
    width: 100%;
    line-height: 1.4;
}

.map-selection-layer-item {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
    white-space: nowrap;
    max-width: 280px;
    text-overflow: ellipsis;
    overflow-x: hidden;

    &:hover {
        background-color: var(--ui-active-color);
    }

    .map-selection-selected {
        color: var(--ui-highlight-color);
    }
}

/* LEAFLET OVERRIDES */
.map-selection-popup.leaflet-popup {
    .leaflet-popup-content-wrapper {
        background: transparent;
        color: var(--ui-component-text-color);
        box-shadow: none;
    }

    .leaflet-popup-tip {
        background-color: rgba(0, 0, 0, 0.85);
        box-shadow: none;
    }

    .leaflet-popup-content-wrapper {
        padding: 0;
        border-radius: 0;
    }

    .leaflet-popup-content {
        margin: 0;
        width: auto !important;
    }
}

.leaflet-fade-anim .leaflet-popup {
    transition: opacity 120ms ease-in, transform 100ms ease-in;
    transform: translateY(-20px) translateZ(100px);
}
