/* MAP VIEWPORT */

/* Container for map and map-related UI */
.map-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%; /* Starting position; this is overridden by scripts */
  overflow: hidden;
  border-top: 1px solid #9fa2a4;
  border-left: 1px solid #9fa2a4;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-shadow: inset 1px 1px 0 #000, inset -1px -1px 0 #e4e6e7;
}

/* Container for Leaflet/Tangram */
.map-view,
.map-view-not-loaded {
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

.map-view-not-loaded {
  background-image: url('../data/imgs/question.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--ui-base-color);
  z-index: var(--z05-map-not-loaded);
}
