/* React MapPanel */

.map-panel {
    position: relative;
    z-index: var(--z04-map-toolbar);
}

/* Style for map panel button to show it */
.map-panel * .map-panel-button-show {
    color: var(--ui-component-text-color);
    background-color: var(--ui-component-color);
    border: none;
    outline: none;
    position: absolute;
    left: auto;
    right: 0;

    &:hover {
        color: var(--ui-highlight-color);
        background-color: var(--ui-active-color);
    }
}

.map-panel-button-show > i.btm {
    padding-right: 0;
}

/* Style for map panel */
.map-panel .panel {
    border: none;
    margin: 0;
    z-index: var(--z07-menu);
    opacity: 0.99; /* For panel to play nice with absolute positioned toggle button on the side */
}

.map-panel-collapsible {
    color: var(--ui-component-text-color);
    background-color: var(--ui-component-color);

    .panel-body {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .map-panel-toolbar {
        display: flex;
        align-items: center;
    }
}

/* Style for all map panel buttons */
.map-panel * button {
    padding: 0;
    height: 38px;
    width: 38px;
    background-color: var(--ui-element-color);
    color: var(--ui-component-text-color);
    outline: none;

    &:hover {
        background-color: var(--ui-active-color);
    }
}

.map-panel-toolbar button:hover i {
    color: var(--ui-highlight-color);
}

.map-panel * .btn {
    border: none;
}

.map-panel-toolbar i.btm {
    padding-right: 0;
    font-size: 12px;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    color: var(--ui-component-text-color);
}

.map-panel * .btn-group {
    margin-right: 2px;
    margin-left: 2px;
}

/* Style for button groups */
.map-panel-zoom-container {
    display: flex;
}

.map-panel-zoom {
    width: 38px;
    margin-right: 4px;
    font-size: 12px;
    text-align: center;
    line-height: 38px;
    flex: 0 0 auto;
}

.buttons-plusminus {
    display: flex;
    flex: 0 0 auto;

    .map-panel-zoomin {
        margin-right: 2px;
    }
}

.buttons-locate {
    flex: 0 0 auto;
}

.buttons-toggle {
    flex: 0 0 auto;
}
