/* React MapPanel: search bar and bookmarks tool */

.map-panel-search-bookmarks {
    display: flex;
    flex-grow: 1;
    flex: 1 0 auto;
}

.map-panel i.btm.active {
    color: yellow;
}

.map-search {
    display: inline-flex;
    flex-grow: 1;
    background-color: var(--ui-element-color);
}

.map-search-latlng {
    align-items: center;
    display: flex;
    font-size: 12px;
    font-weight: 200;
    line-height: 28px;
    color: var(--ui-border-color);
    white-space: nowrap;
    padding-left: 6px;
}

.map-panel-search-button {
    margin-right: 4px;
    min-width: 38px;
}

.map-panel-save-button {
    margin-left: 4px;
    min-width: 38px;
}

/* Autosuggestion list */
.react-autosuggest__container {
    flex-grow: 1;
    border-bottom: 1px solid transparent;
    height: 38px;
    min-width: 150px;

    input {
        width: 100%;
        font-size: 12px;
        font-weight: 200;
        line-height: 28px;
        background-color: transparent;
        appearance: none;
        outline: none;
        border: 0;
        color: var(--ui-component-text-color);
        padding-top: 6px;
        padding-bottom: 0;

        &:focus {
            border-bottom: 1px dotted var(--ui-border-color);
        }
    }
}

.react-autosuggest__suggestions-container {
    list-style-type: none;
    font-size: 12px;
    font-weight: 200;
    background-color: var(--ui-component-color);
    padding: 0;
    margin: 0;
    margin-top: 4px;
    white-space: nowrap;

    li {
        border-top: 1px solid var(--ui-active-color);
        cursor: pointer;
        line-height: 1.4;
        padding: 10px;
    }

    li:hover {
        background-color: var(--ui-active-color);
    }
}

.react-autosuggest__suggestion--focused {
    background-color: var(--ui-active-color);
}

.react-autosuggest__suggestions-container strong {
    color: yellow;
    font-weight: 200;
}

.react-autosuggest__suggestions-container i.btm,
.bookmark-dropdown-icon i.btm {
    font-size: 10px;
    padding-right: 10px;
    font-weight: 900;
}

/* Bookmark list dropdown */
.dropdown {
    transition: all 0.8s ease-out;
    transition-delay: 2s;
}

.dropdown-menu.dropdown-menu-right {
    background-color: var(--ui-component-color);
    font-size: 12px;
    margin: 0;
    border: 0;
    padding: 0;

    a {
        display: inline-flex;
        outline: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .bookmark-dropdown-center a {
        justify-content: center; /* Override previous style */
        text-align: center;
        padding: 8px;
    }

    li {
        border-top: 1px solid var(--ui-active-color);
        transition: all 0.4s ease-out;
    }
}

.bookmark-dropdown-icon {
    display: flex;
    align-items: center;
}

.bookmark-dropdown-info {
    display: inline-flex;
    flex-grow: 1;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
}

.bookmark-dropdown-info:hover {
    background-color: var(--ui-active-color);
}

.bookmark-dropdown-text {
    color: var(--ui-border-color);
}

.bookmark-dropdown-clear:hover {
    background-color: var(--ui-active-color);
}

.bookmark-dropdown-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #36383c;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;

    &:hover {
        background-color: var(--ui-active-color);
    }

    i.btm {
        font-size: 6px;
        font-weight: 900;
        margin: 0;
    }
}
