/* React MapPanel: search bar and bookmarks tool */

.map-panel-search-bookmarks {
  display: flex;
  flex-grow: 1;
  flex: 1 0 auto;
}

.map-panel .btm {
  font-weight: 400;
}

.map-panel .btm.active {
  color: black;
}

.map-panel-search-button {
  background-image: url('../data/imgs/win95_globe_icon.png');
  background-repeat: no-repeat;
  background-position: 3px 2px;
  background-size: 16px;
  width: 20px;
}

.map-search {
  display: inline-flex;
  flex-grow: 1;
  background-color: white;
}

.map-search.btn-group {
  border-top: 1px solid #868a8e;
  border-left: 1px solid #868a8e;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-shadow: inset 1px 1px 0 #000, inset -1px -1px 0 #e4e6e7;
}

.map-search-latlng {
  display: flex;
  align-items: center;
  height: 19px;
  font-size: var(--root-font-size);
  color: var(--ui-unnamed-light-color);
  white-space: nowrap;
  padding-left: 6px;
  margin-top: 1px; /* Align with input text */
  margin-bottom: -1px; /* Recover margin from top */
}

.map-search button {
  height: 19px;
  /* Buttons in this box need to override the styling */
  border: none;
  background-color: transparent !important;
  box-shadow: none !important; /* hack to prevent doubling of box shadow */

  &:focus,
  &:active {
    border: none;
  }
}

.map-panel-save-button {
  background-image: url('../data/imgs/win95_favorites.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 3px 2px;
}

/* Autosuggestion list */
.react-autosuggest__container {
  flex-grow: 1;
  border-bottom: 1px solid transparent;
  height: 19px;
  min-width: 150px;

  input {
    width: 100%;
    height: 16px;
    font-family: var(--font-family); /* input does not inherit font-family */
    font-size: var(--root-font-size);
    background-color: transparent;
    appearance: none;
    outline: none;
    border: 0;
    box-shadow: none;
    color: var(--ui-component-text-color);
    margin-top: 3px;
    padding-left: 0;
  }

  input:focus {
    border: 0;
    box-shadow: none;
  }
}

.react-autosuggest__suggestions-container {
  position: absolute; /* Allow list to float separately from input element */
  left: 0;
  width: calc(100% + 2px); /* hack */
  font-size: var(--root-font-size);
  background-color: white;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  margin-left: -1px; /* position hack */
  margin-top: 3px;

  ul {
    margin: 0;
    border: 1px solid black;
    overflow: hidden;
  }

  li {
    cursor: pointer;
  }

  li:hover {
    background-color: #00a;
  }
}

.react-autosuggest__suggestions-list {
  list-style: none;
  padding: 0;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #00a;
  color: white;
  outline: 1px dotted yellow;
}

.react-autosuggest__suggestion--focused {
  background-color: #00a;
  color: white !important;
  outline: 1px dotted yellow;
  outline-offset: 1px;
}

.react-autosuggest__suggestions-container strong {
  font-weight: 600;
}

.react-autosuggest__suggestions-container i.btm,
.bookmark-dropdown-icon i.btm {
  display: none;
  font-size: 10px;
  padding-right: 10px;
  font-weight: 900;
}

.map-search-suggestion-item {
  padding: 2px;

  /* Prevent super-long labels from breaking layout */
  text-overflow: ellipsis;
  overflow: hidden;

  & > i.btm {
    padding: 0;
    width: 32px;
    text-align: center;
  }
}

/* Bookmark list dropdown */
.dropdown {
}

.dropdown-menu.dropdown-menu-right {
  background-color: var(--ui-component-color);
  font-size: var(--root-font-size);
  margin: 0;
  padding: 0;

  a {
    display: flex;
    width: 100%;
    justify-content: space-between;
    outline: none;
  }

  .bookmark-dropdown-center a {
    justify-content: center; /* Override previous style */
    text-align: center;
    padding: 8px;
    color: black;
  }

  li {
    border-bottom: 1px solid #868a8e;
    border-top: 1px solid white;
  }
}

.bookmark-dropdown-icon {
  display: flex;
  align-items: center;
}

.bookmark-dropdown-info {
  display: inline-flex;
  flex-grow: 1;
  padding: 8px 8px 8px 16px;
  color: black;
}

.bookmark-dropdown-info:hover {
  background-color: #00a;
  color: white;
}

.bookmark-dropdown-text {
  color: #555;
}

.bookmark-dropdown-clear:hover {
  background-color: #00a;
  color: white;

  a {
    color: white !important;
  }
}

.bookmark-dropdown-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  text-align: center;
  color: black;

  &:hover {
    background-color: #00a;
    color: white;
  }

  i.btm {
    font-size: 6px;
    font-weight: 900;
    margin: 0;
    color: gray;
  }
}
