/* React MapPanel */

.map-panel {
    position: relative ;
    z-index: var(--z04-map-toolbar);
}

/* Style for map panel button to show it */
.map-panel * .map-panel-button-show {
    color: var(--ui-component-text-color);
    background-color: var(--ui-component-color);
    border:none ;
    outline:none;
    position: absolute ;
    left: auto;
    right: 0;

    &:hover {
        color: var(--ui-highlight-color);
        background-color: var(--ui-active-color);
    }

    i.btm {
        padding-right: 0px ;
    }
}

/* Style for map panel */
.map-panel .panel {
    border: none ;
    margin: 0px ;
    z-index: var(--z07-menu-dropdown);
    opacity: .99;
}

.map-panel-collapsible {
    font-family: var(--font-family);
    color: var(--ui-component-text-color);
    background-color: var(--ui-component-color);

    .panel-body {
        padding-top: 6px ;
        padding-bottom: 6px ;
        padding-left: 8px ;
        padding-right: 8px ;
    }

    .map-panel-toolbar {
        display: flex;
        align-items: center;
    }
}

/* Style for all map panel buttons */
.map-panel * button {
    padding: 0;
    height: 38px;
    width: 38px;
    background-color: var(--ui-element-color);
    color: var(--ui-component-text-color);
    outline: none;

    &:hover {
        color: var(--ui-highlight-color);
        background-color: var(--ui-active-color);
    }
}

.map-panel * .btn {
    border: none ;
}

.map-panel * i.btm {
    padding-right: 0px ;
    font-size:12px ;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    color: var(--ui-component-text-color);

    .active {
        color: yellow ;
        font-weight: 700 ;
    }
}

.map-panel * .btn-group {
    margin-right: 2px ;
    margin-left: 2px ;
}

/* Style for button groups */
.map-panel-zoom {
    width: 38px;
    margin-right: 4px;
    font-size: 12px;
    text-align:center
}

.buttons-plusminus {
    display: flex ;

    .map-panel-zoomin {
        margin-right: 2px ;
    }
}
