.map-panel-search-bookmarks {
    display: flex;
    flex-grow: 1;
}

.map-search {
    display:inline-flex ;
    flex-grow: 1 ;
    background-color: var(--ui-element-color);
}

.map-search-latlng {
    align-items: center;
    display: flex;
    font-size: 12px;
    font-family: var(--font-family);
    font-weight: 200;
    line-height: 28px;
    color: var(--ui-border-color);
    white-space:nowrap;
}

.react-autosuggest__container {
    flex-grow: 1 ;
    border-bottom: 1px solid transparent;
    height: 38px ;

    input {
        width: 100% ;
        font-size: 12px;
        font-family: var(--font-family);
        font-weight: 200;
        line-height: 28px;
        background-color: transparent;
        appearance: none;
        outline: none ;
        border: 0px;
        color: var(--ui-component-text-color);

        &:focus {
            border-bottom: 1px dotted var(--ui-border-color);
        }
    }
}

.react-autosuggest__suggestions-container {
    list-style-type: none;
    font-size: 12px;
    background-color: var(--ui-component-color);
    padding: 0px ;
    margin: 0px ;
    margin-top: 7px ;

    li {
        border-top: 1px solid var(--ui-active-color);
        cursor: pointer;
        line-height: 1.4;
        padding: 10px;
    }

    li:hover {
        background-color: var(--ui-active-color);
    }
}

.map-panel .react-autosuggest__suggestions-container * i {
    font-size: 10px;
    padding-right: 10px;
    font-weight: 900 ;

    .btm {
        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto;
        font-weight: 900;
    }
}

.react-autosuggest__suggestion--focused {
    background-color: var(--ui-active-color);
}

.react-autosuggest__suggestions-container * strong {
    color: yellow;
    font-weight: 200;
}
