/* MENU BAR */

/*
.menu-bar {
    position: relative;
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 12px;
    background-color: var(--ui-base-color);
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
    cursor: default;

    h1 {
        position: relative;
        display: inline-block;
        margin: 0 15px;
        font-size: 16px;
        font-weight: 300;
        line-height: 44px;
        color: var(--ui-component-text-color);
        white-space: nowrap;
    }
}

.beta-tag {
    position: absolute;
    left: 2px;
    top: 12px;
    color: var(--ui-highlight-color);
    font-size: 9px;
}

.menu-items {
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    color: var(--ui-component-text-color);
    font-size: 0;
    vertical-align: top;
}

.menu-left {
    flex-grow: 1;
}

.menu-item {
    display: inline-block;
    min-width: 44px;
    height: 100%;
    padding: 0 14px;
    text-align: center;
    font-size: 14px;
    line-height: 44px;
    list-style-type: none;
    color: var(--ui-component-text-color);
    cursor: pointer;

    & > i {
        font-size: 17px;
    }

    &:hover {
        color: yellow;
        background-color: var(--ui-active-color);
    }

    & > a {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: var(--ui-component-text-color);
        text-decoration: none;
    }

    & > a:hover {
        color: yellow;
    }
}

.menu-item-label {
    margin-left: 10px;
}

@media (max-width: 767px) {
    .menu-bar {
        .menu-item {
            padding: 0;
        }
        .menu-item-label {
            display: none;
        }
    }
}

.menu-item-disabled {
    color: #888;
    cursor: default;

    &:hover {
        color: #888;
        background-color: transparent;
    }
}

.menu-item-private {
    display: none;

    .debug-full-menu & {
        display: inline-block;
    }
}

.menu-sign-in {
    background-color: #7a0000;
    padding-left: 1em;
    padding-right: 1em;
    color: #f1f1f1;

    &:hover {
        background-color: #8d0000;
        color: white;
    }
}

.menu-sign-in-label {
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 0.5em;
}

html.mdnzr-no-fullscreen .menu-button-fullscreen {
    display: none;
}
*/
