/* React MenuBar */

nav {
  border: 0;
  user-select: none;
}

.navbar {
  height: var(--menu-bar-height);
}

.menu-bar {
  position: fixed;
  top: 3px;
  left: 3px;
  right: 3px;
  z-index: var(--z07-menu);
}

.menu-bar * {
  cursor: default;
}

.menu-bar .container {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  background-color: var(--ui-base-color);
}

.navbar-header {
  background-color: #00a;
  color: white;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.brand {
  position: relative;
  padding: 0 3px;
  font-size: var(--root-font-size);
  font-weight: 600;
  color: white;
  z-index: 1; /* This just needs to be any number to be properly sorted in its stacking context */
  cursor: default;
}

.menu-bar ul {
  margin-top: 1px;
}

.menu-bar .btm {
  display: none;
  padding-right: 8px;
  font-size: 15px;
}

.menu-bar .caret {
  display: none;
}

.menu-bar a {
  position: relative;
  display: block;
  color: var(--ui-component-text-color);
  font-weight: 200;
  font-size: var(--root-font-size);
  outline: none;
  line-height: 18px;
  padding: 0 6px;
}

.menu-item-underline {
  text-decoration: underline;
}

.menu-bar li.active a {
  color: white;
  background-color: #00a;
}

.dropdown-menu li:hover {
  background-color: #00a;

  a {
    color: white;
  }
}

.dropdown-menu {
  padding: 2px;
  background-color: var(--ui-component-color);
  margin-top: 0;
  border-top: 1px solid #c3c7cb;
  border-left: 1px solid #c3c7cb;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #868a8e;
  overflow: hidden;
}

.menu-bar .dropdown-menu a {
  padding: 0 22px;
  line-height: 17px;
}

.dropdown-menu {
  /* Ensure fixed-width alignment of Black Tie icons */
  i {
    width: 17px;
    margin-right: 6px;
  }
}

.menu-bar li.open.dropdown {
  z-index: var(--z10-dropdown-button);

  > a {
    color: white;
    background-color: #00a;
  }
}

.menu-item-note {
  padding-left: 23px;
  font-size: 0.85em;
  color: #ababab;
  line-height: 1;
  margin-top: -0.8em;
  margin-bottom: 0.8em;
}

/* Small screens */
/* Bootstrap hamburger */
.navbar-toggle {
  position: relative;
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px !important;
  padding: 0;
  width: 30px;
  height: 30px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 16px;
  height: 1px;
  margin: 0 auto;
  background-color: var(--ui-component-text-color);
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media (min-width: 800px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-collapse,
.navbar-default {
  position: relative;
  background-color: var(--ui-base-color);
}

/* Sign in buttons */
.menu-sign-in {
  a[role='button'] {
    margin: 4px;
    border-radius: 3px;
    border: 1px solid #540101;
    padding: 0 0.75em; /* Override */
    background-color: #7a0000;
    color: #f1f1f1;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1);
    height: 32px; /* Override */
    line-height: 32px; /* Override */
  }

  /* hover style override */
  a[role='button']:hover {
    background-color: #8d0000;
    color: white;
  }

  /* disabled state */
  &.menu-sign-in-disabled a[role='button'] {
    background-color: #514e4e;
    border-color: #242323;
    color: #9e9d94;
    cursor: default;
  }

  /* open dropdowwn style override */
  &.open.dropdown > a {
    background-color: #8d0000 !important;
    color: white !important;
  }

  /* icon style override */
  .btm {
    padding-right: 0;
    padding-left: 0.25em;
  }

  .caret {
    display: none;
  }
}

.sign-in-avatar {
  display: inline-block;
  margin-right: 0.5em;
  margin-top: -3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
}

.sign-in-admin-star {
  position: relative;
  margin-left: 0.15em;
  color: lightgoldenrodyellow;
  text-shadow: 0 0 1px #e69f00;
  font-size: 0.7em;
  top: -0.5em;
}
