/* MODALS · WHAT'S NEW? */

.welcome-modal {
  width: 420px;
}

.modal-welcome-text p {
  text-align: left;
  padding: 1em 3.25em;
}

.welcome-modal .call-to-action {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -1em;
  overflow: hidden;
  text-align: left;
  display: flex;

  button {
    display: inline-block;
    width: 50%;
    height: 80px;
    margin-top: 0 !important;
  }

  button:first-of-type {
    margin-right: 1em;
  }
}

.whatsnew-modal {
  width: 420px;
  /* Allow the height of this modal to expand on larger screens */
  height: calc(100% - 600px);
  min-height: 380px;
  max-height: 800px;
}

.whatsnew-modal-changelog {
  /* Ensure this fits within a variable-height modal.
     TODO: Don't use a magic number */
  height: calc(100% - 46px);
  box-sizing: border-box;
}

.changelog-frame {
  border: 0;
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  height: 100%;
}

.changelog {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em;
  background-color: white;
  color: var(--ui-component-text-color);
  font-weight: 300;
  line-height: 1.4;

  img, div {
    image-rendering: auto;
  }

  &::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  &::-webkit-scrollbar-track {
    background-image: url('../data/imgs/win95_scrollbar_bg.png');
    background-size: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c3c7cb;
    border-top: 1px solid #c3c7cb;
    border-left: 1px solid #c3c7cb;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: inset 1px 1px 0 0 white, inset -1px -1px 0 0 #868a8e;
    z-index: 1;
  }

  a {
    color: blue;
    text-decoration: underline;
  }

  h2 {
    margin-top: 0;
    font-size: var(--root-font-size);
    font-weight: 600;
    padding-bottom: 0.25em;
    border-bottom: 1px solid black;
  }

  h3 {
    font-size: var(--root-font-size);
    font-weight: 600;
  }

  article:not(:first-of-type) {
    border-top: 1px solid #868a8e;
    box-shadow: 1px 0 0 0 white;
    padding-top: 1em;
  }

  img {
    width: 100%;
  }

  .changelog-image {
    background-size: cover;
    background-position: center center;
    height: 200px;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  ul {
    padding-left: 2em;
  }

  li {
    margin-top: 1em;
  }
}
