
.code-snippet-modal {
  width: 500px;
}

.code-snippet-textarea-container {
  width: 486px;
  height: 340px;
  margin-bottom: 1em;
  margin-top: -3px;
  position: relative;
  z-index: 2;

  textarea {
    width: 100%;
    height: 100%;
    resize: none;
    font-family: var(--editor-font-family);
    font-size: 12px;
    padding: 1em;
    white-space: nowrap;
    border: 0;
    /*margin-top: -2px;*/

    &:focus {
      outline: none;
    }

    &::selection {
      background: #00a;
      color: white;
    }
  }
}

/* TODO: Generalize tab stuff. these are for non-editor tabs */
.code-snippet-tabs {
  display: inline-block;
}

.code-snippet-tab {
  display: inline-block;
  color: var(--ui-component-text-color);
  font-size: var(--root-font-size);
  cursor: default;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid black;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: var(--ui-base-color);
  box-shadow: inset -1px 0 0 0 #868a8e;
  overflow: hidden;
  height: 28px;
  line-height: 28px;
  padding-left: 8px;
  padding-right: 6px;
  position: relative;
  top: 2px;
  margin-right: -3px;
}

.code-snippet-tab-selected {
  top: 0;
  z-index: 1;
}

.code-snippet-tabs-right {
  display: inline-block;
  float: right;
  line-height: 28px;
  position: relative;
}

/* adjust position of checkbox after apperance: none applied */
#code-snippet-html-toggle {
  position: absolute;
  top: 5px;
  left: -20px;
}
