/* MODALS */

.modal {
  display: block; /* Default display mode */
  width: 400px;
  padding: 28px 7px 8px;
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 1rem;
  text-align: center;
  color: var(--ui-component-text-color);
  background-color: var(--ui-base-color);
  /*box-shadow: var(--ui-modal-shadow), var(--ui-emboss-shadow);*/
  z-index: var(--z01-modal);
  pointer-events: auto;
  /*border: 1px solid var(--ui-border-color);*/
  /*border-radius: 2px;*/
  border-top: 1px solid #c3c7cb;
  border-left: 1px solid #c3c7cb;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #868a8e;
}

/*
  For error modals we want the message to be user-selectable so it can be
  copy-pasted elsewhere.
*/
.modal:not(.error-modal) {
  user-select: none;
}

.modal-alt {
  text-align: left;

  .modal-buttons {
    justify-content: flex-end;
  }
}

.modal h4 {
  background-color: #00a;
  color: white;
  padding: 4px 3px 5px;
  font-size: var(--root-font-size);
  font-weight: 600;
  cursor: default;
  width: calc(100% - 4px);
  position: absolute;
  top: 2px;
  left: 2px;
  text-align: left;
}

.modal-text {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1.4;

  a {
    text-decoration: underline;
    color: blue;
  }
}

.modal-content {
  margin-top: 20px;
}

.widget-modal .modal-content {
  margin-top: 0;
}
/* used in save-to modals */
.modal-content p {
  margin-top: 1em;
}

.modal-well {
  margin-top: 1px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #c3c7cb;
  border-bottom: 1px solid #c3c7cb;
  box-shadow: -1px -1px 0 #868a8e, -1px 0 0 #868a8e, 0 -1px 0 0 #868a8e, 1px 0 0 #fff, 1px 1px 0 #fff, 0 1px 0 #fff;
}

.modal-buttons {
  width: 100%;
  margin-top: 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.loading-spinner {
  margin-right: 30px;
  line-height: 40px;
  color: var(--ui-subtext-color);
  opacity: 0;
  visibility: hidden;

  &.loading-spinner-on {
    opacity: 1;
    visibility: visible;
  }

  .bt-spinner {
    margin-right: 0.25em;
  }
}

.open-url-modal {
  width: 600px;
}

.modal-about-text {
  margin-left: 40px;
  margin-right: 40px;

  p {
    font-size: var(--root-font-size);
    margin-top: 16px;
    margin-bottom: 0;
    user-select: auto;
  }
}

.save-to-cloud-modal {
  width: 600px;
}

.save-to-cloud-success-modal {
  /* Overrides for this modal.
     TODO: Consider refactoring modal so we don't need any of this */
  /* Inputs */
  .saved-scene-copy-btn {
    margin-left: 2px;
    width: 40px;
    height: 34px;
  }
}

.save-existing-to-cloud-modal {
  width: 500px;

  /* re-using this CSS from OpenFromCloudModal */
  .open-from-cloud-option {
    padding: 0;
    cursor: auto;
    user-select: auto;
  }

  .open-from-cloud-option:hover {
    background-color: transparent;
  }
}

.modal {
  position: relative;
}
