.open-from-cloud-modal {
  width: 420px;
  /* Allow the height of this modal to expand on larger screens */
  height: calc(100% - 600px);
  min-height: 380px;
  max-height: 800px;
}

.open-from-cloud-list {
  /* Ensure this fits within a variable-height modal.
     TODO: Don't use a magic number */
  height: calc(100% - 32px);
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;

  &::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  &::-webkit-scrollbar-track {
    background-image: url('../data/imgs/win95_scrollbar_bg.png');
    background-size: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c3c7cb;
    border-top: 1px solid #c3c7cb;
    border-left: 1px solid #c3c7cb;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: inset 1px 1px 0 0 white, inset -1px -1px 0 0 #868a8e;
    z-index: 1;
  }
}

.open-from-cloud-option {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  cursor: pointer;

  &.open-from-cloud-selected {
    outline: 1px dotted black;
  }

  &.open-from-cloud-deleting {
    background-color: transparent;
  }
}

/* We need a container element for the image so we can highlight, see below */
.open-from-cloud-option-thumbnail {
  position: relative;
  margin-right: 10px;
  line-height: 0; /* Removes baseline from image */

  img {
    display: block; /* Force display of img tag without a `src` attribute in Firefox */
    width: 144px;
    height: 81px;
  }
}

.open-from-cloud-option-info {
  flex-grow: 1;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.open-from-cloud-option-name {
  line-height: 24px;
  font-size: var(--root-font-size);
  font-weight: 600;
}

.open-from-cloud-option-description {
  line-height: 1.4;
  flex-grow: 1;
  color: black;
}

.open-from-cloud-option-date {
  font-size: var(--root-font-size);
  color: gray;
  /* Breathing room in case description gets too close to where the date output is. */
  margin-top: 0.5em;
}

.open-from-cloud-deleting {
  cursor: default;

  .open-from-cloud-option-name,
  .open-from-cloud-option-description,
  .open-from-cloud-option-date {
    color: gray;
  }

  .open-from-cloud-option-thumbnail {
    opacity: 0.35;
  }
}

.open-from-cloud-option-tasks {
  visibility: hidden;
}

.open-from-cloud-option:hover .open-from-cloud-option-tasks {
  visibility: visible;
}
