/* MODALS */

.tp-modal {
    display: none;
    position: fixed;
    box-sizing: border-box;
    width: 400px;
    min-height: 160px;
    padding: 30px;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -80px;
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    color: var(--ui-component-text-color);
    background-color: var(--ui-base-color);
    box-shadow: var(--modal-shadow);
    z-index: 1300;
    user-select: none;
}

.tp-modal-text {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    user-select: none;
}

.tp-modal-buttons {
    text-align: center;
    width: 100%;
    margin-top: 30px;

    button {
        padding: 16px;
        background-color: transparent;
        color: var(--ui-component-text-color);
        border: 1px solid var(--ui-border-color);
        margin: 0 5px;
        font-family: var(--font-family);
        font-weight: 200;
        font-size: 14px;
        cursor: pointer;
    }

    button:last-of-type {
        margin-right: 0;
    }

    button:first-of-type {
        margin-left: 0;
    }

    button:hover {
        background-color: var(--ui-active-color);
        color: var(--ui-highlight-color);
    }

    button > i {
        margin-right: 0.5em;
    }

    button > i.bt-check {
        color: green;
    }

    button > i.bt-times {
        color: red;
    }

    button:disabled {
        color: gray;
        background-color: rgba(0,0,0,0.10);
        cursor: default;
    }

    button:disabled:hover {
        color: gray;
        background-color: rgba(0,0,0,0.10);
    }

    button:disabled > i {
        color: gray !important;
    }
}

.tp-example-modal {
    width: 600px;
    margin-left: -300px;
    height: 600px;
    margin-top: -300px;
    text-align: left;

    .tp-modal-buttons {
        position: absolute;
        text-align: right;
        width: auto;
        right: 30px;
        bottom: 30px;
    }
}

.tp-example-list {
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 30px;
    left: 30px;
    top: 50px;
    bottom: 100px;
    background-color: var(--ui-component-color);

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--ui-element-color);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #b9b9bd;
    }
}

.tp-example-option {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
    cursor: pointer;
    border: 1px solid transparent;

    &:hover {
        background-color: var(--ui-active-color);
    }

    &.tp-example-selected {
        border: 1px solid var(--ui-border-color);
        background-color: var(--ui-active-color);
    }

    img,
    .tp-example-thumbnail {
        width: 100%;
        height: 60px;
    }

    .tp-example-thumbnail {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.tp-example-option-name {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 14px;
    color: var(--ui-component-text-color);
    margin-bottom: 4px;
    text-transform: capitalize;
}
