canvas#tp-a-sandbox {
	margin-top: -18px;
    border-radius: 10px;
    z-index: 100;
    overflow: hidden;
    /*background-color: rgba(0,0,0,0);*/
    -webkit-box-shadow: 10px 10px 5px grey;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    10px 10px 5px grey;  /* Firefox 3.5 - 3.6 */
  	box-shadow:         10px 10px 5px grey;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
}