/*
.cm-suggested-keys-menu-remove {
    float: right;
    cursor: pointer;
}
*/

.tangram-play-suggested-menu {
    font-family: var(--editor-font-family);
    font-size: 14px;
    /* background: #494949; */
    background: #fff;
    color: white;
    height: 20px;
    padding: 3px 7px;

    /* Codemirror positioning override */
    margin-top: -24px;
    margin-left: 4px;

    z-index: var(--z01-suggest);
}

.tangram-play-suggested-menu-btn {
    font-family: var(--editor-font-family);
    font-size: 14px;
    color: black;
    cursor: pointer;
}
