/* TOOLTIP REACT */

.tooltip-arrow {
  display: none;
  border-width: 0 8px 8px;
  transform: translateX(-3px);
}

.tooltip-inner {
  /* Margins create room between edge of a tooltip and edge of the screen.
     Note that this also creates a gap between side arrow so do not use them. */
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 2px;
  border-radius: var(--ui-border-radius);
  font-size: var(--root-font-size);
  color: black;
  background-color: yellow;
}
