/* React: Widget Color */

.widget-exit {
    padding: 0;
    background-color: transparent;
    outline: none;
    border-color: transparent;
    border: transparent;
    padding-right: 14px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.widget-exit i {
    font-size: 8px;
    font-weight: 600;
    color: white;
}

.widget-exit i:hover {
    color: yellow;
}

/* color-picker.react */

.widget-colorpicker {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    max-width: 14px;
    max-height: 14px;
    width: 1em;
    height: 1em;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -0.15em;
}

/* color-picker-box.react */

.widget-color-box {
    width: 220px;
    padding: 14px;
    box-sizing: initial;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
    background-color: var(--ui-element-color);
}

.widget-color-box .saturation {
    width: 100%;
    padding-bottom: 75%;
    position: relative;
    overflow: hidden;
}

.widget-color-box .saturation2 {
    radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}

.widget-color-box .controls {
    display: flex;
}

.widget-color-box .sliders {
    padding: 4px 0;
    flex: 1;
}

.widget-color-box .color {
    width: 24px;
    height: 24px;
    position: relative;
    margin-top: 4px;
    margin-left: 4px;
}

.widget-color-box .activeColor {
    width: 100%;
    height: 100%;
}

.widget-color-box .hue {
    position: relative;
    height: 10px;
    overflow: hidden;
}

.widget-color-box .hue2 {
    radius: 2px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}

.widget-color-box .alpha {
    position: relative;
    height: 10px;
    margin-top: 4px;
    overflow: hidden;
}

.widget-color-box .alpha2 {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}

/* color-picker-input-fields.react */

.widget-color-box .fields {
    display: flex;
    padding-top: 4px;
}

.widget-color-box .fields .single {
    flex: 1;
    padding-left: 3px;
}

.widget-color-box .fields .alpha3 {
    flex: 1;
    padding-left: 6px;
}

.widget-color-box .fields .double {
    flex: 2;
}

.widget-color-box input {
    width: 80%;
    padding: 4px 8% 3px;
    border: none;
    outline: none;
    background-color: #55575a;
    text-align: center;
    font-size: 12px;
    color: white;
}

.single div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.single span {
    font-size: 14px;
}

.widget-modal .modal-content {
    margin-top: 0;
}

.modal input:focus {
    box-shadow: none;
}

/* color-picker-saturation.react  */

.widget-color-saturation {
    position: absolute;
    width: 100%;
    height: 100%;
}

.widget-color-saturation .white {
    position: absolute;
    background: linear-gradient(to right, #fff, rgba(255,255,255,0));
    width: 100%;
    height: 100%;
}

.widget-color-saturation .black {
    position: absolute;
    background: linear-gradient(to top, #000, rgba(0,0,0,0));
    width: 100%;
    height: 100%;
}

.widget-color-saturation .pointer {
    position: absolute;
    cursor: default;
}

.widget-color-saturation .circle {
    width: 4px;
    height: 4px;
    box-shadow: 0 0 0 1.5px #fff, inset 0 0 1px 1px rgba(0,0,0,.3), 0 0 1px 2px rgba(0,0,0,.4);
    border-radius: 50%;
    cursor: hand;
    transform: translate(-2px, -2px);
}
