/* EDITOR WIDGETS */

.tp-widget {
    z-index: 10;
    user-select: none;

    /* Codemirror positioning override */
    margin-top: -20px;
    margin-left: 4px;
}

.tp-widget-colorpicker {
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;

    /* position override */
    margin-top: -17px;
    margin-left: 6px;
}

select.tp-widget-dropdown {
    width: 17px;
    height: 17px;
}
