/* For the draggable modal for the widgets */

.panel-topbar {
    display: flex;
    background-color: var(--ui-component-color);
    height: 20px;
    justify-content: flex-end;
}

.panel-dragger {
    flex-grow: 1;
    cursor: move;
}

.panel-close-glyph {
    height: 100%;
    width: 20px;
    margin-top: -1px;
    flex-basis: 20px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
    color: var(--ui-component-text-color);
    cursor: pointer;

    &:hover {
        color: var(--ui-highlight-color);
        background-color: var(--ui-active-color);
    }
}


.modal-content {
    margin-top: 0;
}

.modal input:focus {
    box-shadow: none;
}
