.widget-dropdown {
    display: inline-flex;
    position: relative;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    border-radius: 0;
}

.widget-dropdown select {
    font-family: var(--font-family);
    font-size: 100%;
    font-weight: 400;
    outline: none;
    border-radius: 0;
    background-color: #5e6064;
    color: white;
    border: none;
    height: 20px;
    width: 16px; /* Remove width to get full dropdown to appear */
}

.widget-dropdown option {
    outline: none;
    margin-left: 20px;
}

.form-control:focus {
    border-color: transparent;
    box-shadow: none;
    border-radius: 0;
}
