/* EDITOR WIDGETS */

.CodeMirror-widget {
    /* Resets this property for wrapped lines. The hanging indent adds
       its own text-indent and we do not want widgets to inherit it. */
    text-indent: initial;
}

.widget {
    display: inline-block;
    position: relative;
    user-select: none;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 0;
    margin-bottom: 0;
}

.widget-colorpicker {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    /* Adjustable size based on editor font size */
    max-width: 14px;
    max-height: 14px;
    width: 1em;
    height: 1em;
    background-color: white;
    cursor: pointer;
    /* position override */
    vertical-align: middle;
    margin-top: -0.15em;
}

.widget-vector {
    border: 1px solid rgba(255, 255, 255, 0.15);
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    background-color: var(--ui-element-color);
    cursor: pointer;
    /* position override */
    vertical-align: middle;
    /* text-align: center; */
}

.widget-vector-text {
    position: relative;
    top: -4px;
    left: 1px;
    font-size: 15px;
    font-weight: 100;
}

select.widget-dropdown {
    /* width: 17px; NTOE THIS IS WEIRD */
    height: 17px;
}

input.widget-toggle {
    position: relative;
    visibility: hidden;
    margin: 0;

    & + label {
        position: absolute;
        top: 4px;
        left: 0;
        width: 13px;
        height: 13px;
        cursor: pointer;
        background-color: var(--ui-element-color);

        /* Checkmark */
        &::after {
            content: '';
            width: 7px;
            height: 3px;
            position: absolute;
            top: 3px;
            left: 2px;
            border: 2px solid var(--ui-highlight-color);
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg);
        }

        /* Unchecked */
        &::before {
            content: '';
            width: 9px;
            height: 9px;
            position: absolute;
            top: 2px;
            left: 2px;
            box-sizing: border-box;
            border: 2px solid red;
            border-radius: 50%;
            background: transparent;
            opacity: 0;
        }
    }

    &:checked + label::after {
        opacity: 1;
    }
    &:not(:checked) + label::before {
        opacity: 1;
    }
}

#react-color0 {
    display: inline-flex;
    background-color:none;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    user-select: none;
}
