/* Editor workspace */

.workspace-container {
  position: fixed;
  top: calc(39px + 4px);
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: var(--ui-base-color); /* Background color during loading */
}

#draggable-container {
  position: fixed;
  width: 100%;
  height: 100%;
}
