@charset 'utf-8';

/* EXTERNAL */
@import 'vendor/bootstrap.css';
@import 'vendor/black-tie.css';

/* You can import CSS from node_modules */
@import 'leaflet/dist/leaflet.css';
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/addon/dialog/dialog.css';
@import 'codemirror/addon/fold/foldgutter.css';
@import 'codemirror/addon/hint/show-hint.css';

/* APPLICATION */
/* Import in order of general to specific */

/* Layout, generic elements */
@import '_application';
/* @import '_typography'; */
@import '_ui';
@import '_workspace';
@import '_overlay';
@import '_shield';

/* UI components */
@import '_buttons';
@import '_icon';
@import '_tooltip';
@import '_modals';
@import '_inputs';

/* Core components */
@import '_editor';
@import '_divider';
@import '_map';

/* Map components */
@import '_leaflet-overrides';
@import '_map-loading';
@import '_map-inspection';
@import '_map-panel';
@import '_map-panel-search-bookmarks';
@import '_camera';

/* Menus and modals */
@import '_menu-bar';
@import '_modals.code-snippet';
@import '_modals.examples';
@import '_modals.open-from-cloud';
@import '_modals.welcome';

/* Other features */
@import '_color-palette';
@import '_docs-panel';
@import '_filedrop';
@import '_errors';
@import '_sandbox';
@import '_sign-in-overlay';
@import '_call-to-action';
@import '_editor-context-menu';
@import '_editor-hidden-tooltip';

/* Text markers and pickers */
@import '_floating-panel';
@import '_textmarkers';
@import '_color';

/* Embedded Tangram Play */
@import '_embedded-play';

/* VARIABLES */

@font-face {
  font-family: 'MS Sans Serif';
  src: url('../data/fonts/ms-sans-serif/MS Sans Serif.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MS Sans Serif';
  src: url('../data/fonts/ms-sans-serif-bold/MS Sans Serif Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  font-smooth: never;
  -webkit-font-smoothing: none;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

:root {
  --font-family: 'MS Sans Serif', sans-serif;
  --root-font-size: 11px;
  --editor-font-family: 'Courier New', monospace;
  --ui-editor-background-color: #1c1f24;
  --ui-base-color: #c3c7cb; /* win95 default background color */
  --ui-component-color: #c3c7cb;
  --ui-element-color: #36383e;
  --ui-active-color: #3d3f46;
  --ui-highlight-color: yellow;
  --ui-highlight-color-2: rgb(221, 221, 0);
  --ui-component-text-color: #000;
  --ui-link-text-color: #e1eeee;
  --ui-subtext-color: #c0c6c6;
  --ui-unnamed-light-color: gray;
  --ui-border-color: #1a1c1f;
  --ui-border: 1px solid var(--ui-border-color);
  --ui-border-radius: 0;
  --ui-well-color: #4d515a;
  --ui-well-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.12);
  --ui-emboss-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.06);
  --ui-modal-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.25);
  --ui-tooltip-background-color: rgba(0, 2, 6, 0.85);
  --ui-error-color: #be1a20;
  --ui-warning-color: #fc0;

  /* LAYOUT */
  --menu-bar-height: 21px;
  --divider-width: 3px;

  /* Z-INDEX SCALE */
  --z01: 100;
  --z02: 200;
  --z03: 300;
  --z04: 410; /* Leaflet overlays are at 400. Our z-level of 4 has higher priority than the map. */
  --z05: 500;
  --z06: 600;
  --z07: 800; /* Leaflet markers at 600, popups at 700. */
  --z08: 1000;
  --z09: 1100;
  --z10: 1200;

  /**
   *  Z-INDEX COMPONENTS
   *  Variables are assigned to scale, above.
   *  These are kept here so you can quickly ascertain
   *  the hierarchy of elements.
   *  They are also named with the scale position so that
   *  when they are referenced in other CSS files, their
   *  z-scale position is also obvious at a glance.
   *  Please note, the z-index scale does not defeat limitations
   *  imposed by stacking contexts.
   */
  /* 01: Anything that needs to be on a z-index > 0 || auto */
  /* Sometimes an element only needs z01 within its own stacking context */
  --z01-colorpalette: var(--z01);
  --z01-filedrop: var(--z01);
  --z01-modal: var(--z01);
  --z01-sandbox: var(--z01);
  --z01-divider: var(--z01);

  /* 04: Anything that should display on top of Leaflet overlays */
  --z04-map-toolbar: var(--z04);
  --z04-map-inspection: var(--z04);
  --z04-map-loading: var(--z04);
  --z04-camera: var(--z04);

  /* 05: Above all map UI, below all other UI */
  --z05-map-not-loaded: var(--z05);

  /* 07: Anything that should display on top of all Leaflet elements */
  --z07-menu: var(--z07);

  /* 08: Overlays */
  --z08-overlay: var(--z08);

  /* 09-10: Anything that demands absolutely the highest priority */
  --z09-pickers: var(--z09);
  --z09-tooltip: var(--z09);
  --z09-context-menu: var(--z09);
  --z10-dropdown-button: var(--z10);
  --z10-mobile-message: var(--z10);
}
