@charset 'utf-8';

/* EXTERNAL */
@import 'vendor/bootstrap.css';
@import 'vendor/black-tie.css';

/* You can import CSS from node_modules */
@import 'leaflet/dist/leaflet.css';
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/addon/dialog/dialog.css';
@import 'codemirror/addon/fold/foldgutter.css';
@import 'codemirror/addon/hint/show-hint.css';

/* CORE */

@import '_application';
@import '_typography';
@import '_workspace';
@import '_editor';
@import '_divider';
@import '_map';
@import '_overlay';
@import '_icon';

/* + Menu */
@import '_filedrop';
@import '_tooltip.react';
@import '_modals';
@import '_modals.examples';
@import '_modals.open-gist';
@import '_shield';
@import '_inputs';

/* + GLSL Sandbox */
@import '_sandbox';

/* + Errors Manager */
@import '_errors';

/* + Map UI */
@import '_ui';
@import '_leaflet-overrides';
@import '_map-loading';
@import '_map-inspection';

/* + React */
@import '_menu-bar.react';
@import '_map-panel.react';
@import '_map-panel-search-bookmarks.react';
@import '_color-palette.react';

/* + Widgets */
@import '_widgets-modal.react';
@import '_widgets.react';
@import '_widget-color.react';

/* Embedded Tangram Play */
@import '_embeddedPlay';

/* VARIABLES */

:root {
    /* Uses Roboto if available, and falls back to system fonts otherwise */
    --font-family: 'Roboto', sans-serif;
    --editor-font-family: 'Source Code Pro', monospace;
    --ui-editor-background-color: #1f2225;
    --ui-base-color: #26282c;
    --ui-component-color: #2e3033;
    --ui-element-color: #3a3c40;
    --ui-active-color: #36383c;
    --ui-highlight-color: yellow;
    --ui-highlight-color-2: rgb(221, 221, 0);
    --ui-component-text-color: #eefafa;
    --ui-link-text-color: #e1eeee;
    --ui-subtext-color: #c0c6c6;
    --ui-border-color: #999ca0;
    --modal-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.25);

    /* Z-INDEX SCALE */
    --z01: 100;
    --z02: 200;
    --z03: 300;
    --z04: 410; /* Leaflet overlays are at 400. Our z-level of 4 has higher priority than the map. */
    --z05: 500;
    --z06: 600;
    --z07: 800; /* Leaflet markers at 600, popups at 700. */
    --z08: 1000;
    --z09: 1100;
    --z10: 1200;

    /**
     *  Z-INDEX COMPONENTS
     *  Variables are assigned to scale, above.
     *  These are kept here so you can quickly ascertain
     *  the hierarchy of elements.
     *  They are also named with the scale position so that
     *  when they are referenced in other CSS files, their
     *  z-scale position is also obvious at a glance.
     *  Please note, the z-index scale does not defeat limitations
     *  imposed by stacking contexts.
     */
    /* 01: Anything that needs to be on a z-index > 0 || auto */
    /* Sometimes an element only needs z01 within its own stacking context */
    --z01-colorpalette: var(--z01);
    --z01-divider: var(--z01);
    --z01-filedrop: var(--z01);
    --z01-modal: var(--z01);
    --z01-sandbox: var(--z01);

    /* 04: Anything that should display on top of Leaflet overlays */
    --z04-map-toolbar: var(--z04);
    --z04-map-inspection: var(--z04);
    --z04-map-loading: var(--z04);

    /* 07: Anything that should display on top of all Leaflet elements */
    --z07-menu: var(--z07);

    /* 08: Overlays */
    --z08-overlay: var(--z08);

    /* 09-10: Anything that demands absolutely the highest priority */
    --z09-pickers: var(--z09);
    --z09-tooltip: var(--z09);
    --z10-dropdown-button: var(--z10);
    --z10-mobile-message: var(--z10);
}
