body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background: white;
}

#content {
    background: #272822;
    position: fixed;
    left: 0px;
    top: 100px;
    z-index: 1;
    opacity: 0.9;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.menu {
    cursor: pointer; 
    cursor: hand;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
}

li.menu {
    list-style-type: none;
    display: inline;
    text-align: center;
}

pre {
    font-size: 130%;
}

.CodeMirror {
    font-size: 110%;
    line-height: 1.3; 
    right: 10px;
}

.CodeMirror-linenumbers { 
    padding: 0 8px; 
}

#map {
    background: rgba(0, 0, 0, 0);
    z-index:0;
}